<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登录匿名论坛</title>
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.5.3/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/resource/css/public.css">
</head>
<body>
  <div class="container">
    <div class="row d-none d-sm-block" style="height: 150px;"></div>
    <div class="row d-sm-none" style="height: 50px;"></div>
    <div class="card">
      <h3 class="card-header lazy-bg" style="background-color: #2b2531; background-size: cover; color: white; height: 80px;" lazy-src="https://i.loli.net/2020/12/11/v8BlxftjSWkEHmZ.jpg">登录</h3>
      <div class="card-body">
        <form role="form" id="form" class="form-horizonal">
          <div class="col-sm-8">
            <div class="alert alert-danger" v-if="err != ''">{{ err }}</div>
          </div>
          <div class="form-group" v-bind:class="{'has-error': sdu_id.length != 12}">
            <label for="sdu-id" class="col control-label">学号</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="sdu-id" placeholder="请输入12位学号" oninput="value = value.replace(/[^\d]/g, '')" v-model="sdu_id">
            </div>
          </div>
          <div class="form-group" v-bind:class="{'has-error': password.length == 0}">
            <label for="password" class="col control-label">密码</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="password" placeholder="输入密码" v-model="password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button class="btn btn-primary col-sm-auto" v-bind:disabled="sdu_id.length == 0 || password.length == 0" v-on:click="submit">登录</button>
              <span class="col-sm">第一次来到论坛？<a href="/signup">使用学号注册</a></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.6.9/vue.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.0/axios.min.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
  <script src="/resource/js/main.js"></script>
  <script src="/resource/js/login.js"></script>
</body>
</html>