.card,
.alert,
.dropdown-menu {
  border-radius: 10px;
}
.list-group,
.form-control,
.btn:not(.btn-sm),
.nav-pills .nav-link {
  border-radius: 8px;
}
.btn-sm {
  border-radius: 5px;
}
.card {
  border: none;
  box-shadow: 0 0 2px #0003;
}
.card-header:first-child {
  border-radius: 10px 10px 0 0;
}
.form-control {
  border: none;
  background-color: #f5f5f5;
}
.center-loader {
  width: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  animation: change-color 4s infinite;
}
.center-loader > span {
  line-height: 2em;
  color: var(--gray-dark);
}
@keyframes change-color {
  0%,
  100% {
    color: var(--blue);
  }
  25% {
    color: var(--pink);
  }
  50% {
    color: var(--orange);
  }
  75% {
    color: var(--green);
  }
}

.post-block {
  border-bottom: 1px #EEE solid;
  padding: .75em 0;
}

.search-bar {
  display: flex;
  flex-direction: row;
}
.search-bar > button {
  margin-left: 5px;
}
.search-tools > * {
  margin-top: 10px;
}
.search-tools::after,
.writer-toolbar::after,
.post-info::after,
.post-top::after {
  content: "";
  display: block;
  clear: both;
}
.tag-view {
  overflow: auto;
  max-height: 100px;
}

.bottom-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  overflow: hidden;
  animation: btn-shrink 2s ease-in-out;
}
.bottom-btn > .btn {
  line-height: 50px;
  padding: 0;
  width: 150px;
  height: 50px;
  font-size: 26px;
  text-align: left;
}
.bottom-btn > .btn::before {
  margin: 0 14px;
}
.bottom-btn.b-green {
  box-shadow: 0px 2px 4px #2ba54687;
}
@keyframes btn-shrink {
  0%,
  100% {
    width: 50px;
  }
  40%,
  60% {
    width: 150px;
  }
}

.writer-toolbar {
  position: sticky;
  top: 55px;
  background-color: #DDD;
  padding: 5px;
  margin: -5px;
  border-radius: 10px;
  z-index: 10;
}
.formula::after {
  content: "∑ƒπ";
}
#writer-content {
  margin-top: 30px;
  border-radius: 10px;
  padding: 5px 7px;
  box-shadow: 0 0 3px #0003;
  min-height: 100px;
}
#writer-content:focus {
  outline: none;
  background-color: #EEE;
}
#writer-content img {
  max-width: 90%;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}
block {
  display: inline-block;
  width: calc(100% - 20px);
  position: relative;
  margin: 5px 10px;
}
.code-block {
  background-color: rgb(56, 85, 119);
  color: white;
  border-radius: 8px;
  padding: 5px 10px;
  cursor: pointer;
  overflow: auto;
  margin: 0;
}
.code-java::before,
.code-cpp::before {
  position: absolute;
  right: 5px;
  top: -5px;
  font-size: 32px;
  user-select: none;
  color: rgb(114, 140, 170);
}
.code-java::before {
  content: "Java";
}
.code-cpp::before {
  content: "C++";
}

.move-tip {
  position: relative;
}
.move-tip > * {
  filter: opacity(.3);
}
.move-tip::after {
  content: "点击要移动到的空行以移动，若要取消移动请点击原处";
  position: absolute;
  width: 200px;
  height: 30px;
  margin-top: -40px;
  margin-left: -100px;
  top: 50%;
  left: 50%;
  background-color: #fff;
  border-radius: 8px;
  height: 80px;
  padding: 5px;
}

.image-center {
  width: 100%;
}
.file-select {
  position: relative;
  overflow: hidden;
}
.file-select > input {
  opacity: 0;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  height: 100%;
}

#block-popper {
  background-color: #DDD;
  position: fixed;
  margin-left: -50px;
  margin-top: -70px;
  border-radius: 10px;
  display: flex;
  padding: 5px;
  height: 140px;
  justify-content: space-between;
  z-index: 20;
}
#block-popper > button {
  display: block;
  width: 90px;
}
.modal-content {
  border: none;
  border-radius: 10px;
  box-shadow: 0 0 5px #0003;
  overflow: hidden;
}

.tag {
  padding: 5px 8px;
  background-color: rgb(255, 245, 188);
  color: rgb(151, 129, 0);
  border-radius: 8px;
  margin: 4px;
  user-select: none;
  cursor: pointer;
  flex-shrink: 0;
}
.tag.selected {
  background-color: rgb(172, 146, 0);
  color: white;
}
.all-tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
}
.all-tags.collapsed {
  height: 40px;
}
@media (max-width: 576px) {
  .all-tags {
    flex-wrap: nowrap;
    overflow: auto;
  }
}

#login-needed {
  width: 100%;
  height: 100%;
  background-color: #0001;
  position: fixed;
}
#login-needed.show {
  animation: swipe-up .3s ease-out forwards;
}
@keyframes swipe-up {
  from {
    top: 100%;
  }
  to {
    top: 0;
  }
}
#login-frame {
  width: 100%;
  height: calc(100% - 56px);
  margin-top: 56px;
  border: none;
  background-color: transparent;
}